/* Estilos personalizados para botones */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .neon-button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    color: rgb(51, 28, 223);
    background-color: #edf5f6d7;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .neon-button:hover {
    background-color: #AEB6BF;
    box-shadow: 0 0 20px #d8dbd9, 0 0 20px #cbcfcd, 0 0 30px #ecf1ef, 0 0 40px #d9e1de;
    color: #1936c5eb;
  }
  
  /* Ajuste adicional para texto de botón */
  .neon-button:active {
    transform: scale(0.98);
  }
  