---
// Este es un componente Layout
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio en Astro</title>
    <link rel="stylesheet" href="/src/styles/materialize.css">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<link rel="stylesheet" href="/src/styles/custom.css">
  </head>
  <body>
    <header>
      <nav class="blue darken-3">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">Mi Sitio</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Inicio</a></li>
            <li><a href="/contact">Contacto</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <slot />
    </main>
    <footer class="page-footer blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; 2024 Mi sitio en Astro
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>