---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout>
	
	
	

	<div class="row">
		
		<div class="col s12"><h1>KIOSKO DE CONSULTA Y AYUDA PARA COLABORADORES</h1></div>
		<div class="col s6"><Button text="FORMULARIOS PARA SOLICITUDES" link="/page1" /></div>
		<div class="col s6"><Button text="CONSULTA DE INFORMACION COLABORADORES" link="/page1" /></div>
		<div class="col s6"><Button text="PORTAL COLABORADORES" link="/page1" /></div>
		<div class="col s6"><Button text="AVISOS Y NOTICIAS GRUPOALSAN" link="/page1" /></div>
	  </div>
  </Layout>

